numpy
pandas
scikit-learn
matplotlib
seaborn
xgboost
lightgbm
scipy

# FastAPI & Web
fastapi
uvicorn
pydantic
pydantic_core

# MLFlow & Tracking
mlflow
mlflow-skinny

# Database & ORM
SQLAlchemy
alembic

# Testing & Quality
pytest
flake8

# Utilities
python-dateutil
python-dotenv
joblib
tqdm
click

# Project Specific
xverse

# statsmodels
# optuna

